<h2>View Task</h2>
<div class="container">
  <div class="row">
    <div class="col-md-1">
        <span class="form-label"><b>Project :</b></span>
    </div>
    <div class="col-md-6">      
      <input type="text" class="form-control" [(ngModel)]="searchProject" (input)='Search()'>
    </div>
    <div class="col-md-1">
        <label class="control-label"><b>Sort By:</b></label>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-dark" (click)='Sort(1)'>Start Date</button>&nbsp;
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-dark" (click)='Sort(2)'>End Date</button>&nbsp;
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-dark" (click)='Sort(3)'>Priority</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-dark" (click)='Sort(4)'>Completed</button>
    </div>
  </div>
 
  <br>
  <br> 

<div class="container">
  <table>
      <tbody *ngFor="let item of filteredList">
          <tr>
            <td>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Task</th>
                        <th>Parent</th>  
                        <th>Project</th>                      
                        <th>Start</th>
                        <th>End</th>
                        <th>Priority</th>                        
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td><div class="well">{{item.TaskDesc}}</div></td>
                      
                        <td><div class="well">{{item.ParentTask.ParentTaskDesc}}</div></td>                        
                        <td><div class="well">{{item.Project.ProjectDesc}}</div></td>
                        <td>{{item.StartDate|date}}</td>
                        <td>{{item.EndDate|date}}</td>
                        <td>{{item.Priority}}</td>
                        <td><input type="button" value="Edit" (click)='Edit(item.TaskID)' [disabled]="item.TaskStatus"></td>
                        <td><input type="button" value="End Task" (click)='EndTask(item.TaskID)' [disabled]="item.TaskStatus"></td>
                      </tr>
                    </tbody>
                  </table>
            </td>
            </tr>
    </tbody>    
  </table>
    
    
  </div>